Source: python-configglue
Section: development
Priority: optional
Maintainer: Rick McBride <rick.mcbride@canonical.com>
Build-Depends: cdbs,
 python-central,
 python-all-dev
Standards-Version: 3.8.0

Package: python-configglue
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Description: configglue 
