Source: python-configglue
Section: python
Priority: optional
Maintainer: Ubuntu MOTU Team <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Rick McBride <rick.mcbride@canonical.com>
Build-Depends: cdbs,
 debhelper (>= 7.0.14),
 python,
 python-setuptools,
 python-support
XS-Python-Version: >=2.5
Standards-Version: 3.9.1

Package: python-configglue
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}
Description: Glues together optparse.OptionParser and ConfigParser.ConfigParser
 Configglue is a library that glues together python's optparse.OptionParser 
 and ConfigParser.ConfigParser, so that the same options can be exported to a
 configuration file and a commandline interface.
